<div class="hero-image">
  <div class="hero-text">
    <h1>Welcome to Volunteer Projects</h1>
    <p>Let's start by creating a project.</p>
    <a href="/projects">
      <button class="btn btn-warning">Create</button>
    </a>
  </div>
</div>