<link href="/stylesheets/projects.css" rel="stylesheet" type="text/css">

<div class="body">
  <div class="holder">
    <div class="content">
      <div class="items">
        <h3>Create a Project Today</h3>
        <p>Fill in the line below.</p>
        <form action="/projects" method="post">
          <div class="col-md-12">
            <input class="form-control" type="text" name="title" placeholder="Project" required>
          </div>
          <div class="form-button mt-3">
            <button id="submit" type="submit" class="btn btn-warning">Submit</button>
          </div>  
        </form>
      </div>
    </div>
  </div>
</div>

<div class="body">
  <div class="holder-1">
    <div class="content">
      <div class="items">
        <h3>Projects</h3>
        <div class="list">
          <% if @projects.any? %>
            <ol>
              <% @projects.each do |project| %>
                <p><a href="/projects/<%= project.id %>"><%= project.title %></a></p>
              <% end %>
            </ol>
          <% else %>
          <p>There are currently no projects to display.</p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>








